.money-symbol {
    font: normal normal 900 22px/27px 'Lato';
    color: #FFFFFF;
}

.rectangle-money {
    text-align: left;
    font: normal normal normal 22px/27px Lato;
    color: #FFFFFF;
    padding-left: 10px;
}