.inserted-money {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 202px;
}

.inserted-money-title {
    text-align: left;
    font: normal normal normal 33px/40px Lato;
    padding-top: 20px;
    padding-left: 2px;
}

.inserted-money-symbol {
    text-align: left;
    font: normal normal 900 33px/40px Lato;
    padding-top: 20px;
}