.package-goals {
    width: 345px;
    min-height: 270px;
    background-color: #FFFFFF;
    border-radius: 9px;
    border: solid 1px #53A9FF69;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transform: translateY(-22px);
}

.bar-goals {
    width: 176px;
    height: 11px;
    background: transparent linear-gradient(90deg, #53A9FF 50%, #ffffff 50%) 0% 0% no-repeat padding-box;
    border: 1px solid #53A9FF;
    border-radius: 6px;
    opacity: 1;
    transform: translateX(-56px);
    margin-top: 20px;
}

.title-span-goals {
    text-align: left;
    font: normal normal bold 16px/19px Lato;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    padding-bottom: 3px;
    margin-left: 10px;
}