.box-title-span {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
}

.box-title-spans-wallet {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
}

.box-title-spans-wallet-goals {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    margin-left: 10px;
}